<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>등록</title>

    <!--bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <script>
        /**
         * 클라이언트 사이드 음료 입력 검증
         */
        function validateDrink() {
            var name = document.querySelector('.js-name').value
            var price = document.querySelector('.js-price').value;

            if (price == '' || Number(price) == NaN){
                alert('금액이 잘못되었습니다.');
                return false;
            }

            return true;
        }
    </script>
</head>
<body>
    <div class="container">
        <div class="row mt-5">
            <div class="col">
                <h2>메뉴 등록</h2>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col">
                <form action="/Update" method="post" onsubmit="return validateDrink()">
                    <!--메뉴명-->
                    <div class="mb-3">
                        <label for="name" class="form-label">메뉴명</label>
                        <input type="text" class="form-control js-name" id="name" name="name">
                    </div>

                    <!--금액-->
                    <div class="mb-3">
                        <label for="price" class="form-label">가격</label>
                        <input type="number" class="form-control js-price" id="price" name="price">
                    </div>

                    <!--버튼-->
                    <input type="submit" class="btn btn-primary mt-2" value="등록하기">
                </form>
            </div>
        </div>
    </div>
</body>
</html>