<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sgpark.simplecrud.mapper.ISimpleCRUDMapper">

    <select id="getAllDrink" resultType="HashMap">
        select * from Drink
    </select>

    <select id="getDrink">

    </select>

    <insert id="addDrink">

    </insert>

    <update id="updateDrink">

    </update>

    <delete id="deleteDrink">

    </delete>

</mapper>